body {
  font: normal 100%/1.25 sans-serif;
  padding: 12px;
  min-width: 500px;
}

.draft {
  padding-top: 4em;
}

.draft::before {
  content: "__MSG_draftRestored__";
  background: gold;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
  font-weight: bold;
  box-shadow: 0 0 20px black;
}

.draft .restored {
  box-shadow: 0 0 0 2px orange;
}

.draft #btnDiscard {
  display: inline;
}

body > :nth-child(n + 2) {
  margin-top: 1em;
}

summary {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: .5em;
}

.desc {
  margin: 1em;
  font-size: 75%;
}

.desc summary {
  font-weight: normal;
}

code,
.desc pre {
  font-weight: bold;
  color: darkgreen;
}

textarea {
  width: 100%;
}
