body {
  font: normal 100%/1.25 sans-serif;
  margin: 0;
}
section {
  padding: .5rem 1rem;
}
section:last-child {
  padding-bottom: .75rem;
}
section:nth-child(n + 3) {
  border-top: 1px solid #ccc;
}
section[data-status] {
  transition: background-color .25s;
}
section[data-status="true"] {
  background-color: darkseagreen;
}
section[data-status="false"] {
  background-color: #bbb;
}
section[data-status="false"] label {
  opacity: .5;
}
input {
  vertical-align: bottom;
}
label,
input {
  cursor: pointer;
}
select,
button {
  height: 1.7em;
}
select {
  background-color: #eee;
  border-color: #ddd;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
[nowrap] {
  white-space: nowrap;
}

#linksSection a:not(:last-child) {
  margin-right: 1rem;
}

#genericRulesSection[disabled] #grSlot::after {
  content: "__MSG_genericRulesEnableHint__";
  opacity: .5;
}

#loadMoreSection.disabled #loadStop {
  display: initial;
}
#loadMoreSection.disabled details > :not(#loadStop) {
  opacity: .5;
  pointer-events: none;
  user-select: none;
}
#loadRemain {
  font-size: smaller;
}

.failed-page .hide-when-failed {
  display: none !important;
}
.failed-page #failure {
  display: block;
}
#failure {
  padding: .5rem 1rem;
  font-size: smaller;
  background-color: moccasin;
  color: sienna;
}

summary {
  cursor: pointer;
  white-space: nowrap;
}
summary::-webkit-details-marker {
  width: .5rem;
  height: .5rem;
  margin: 0 .25rem;
}
details ul {
  font-size: smaller;
  margin: 0 0 0 1rem;
  padding: 0;
}
details li {
  margin: 0 0 0 .5rem;
}
details a {
  display: block;
  padding: 2px 0 2px 1.25rem;
  margin-left: -1.5rem;
  text-decoration: none;
  user-select: none;
}
details a:hover {
  text-decoration: underline;
  background-color: #8882;
}
details .done {
  color: darkgreen;
}
.full-width {
  padding-left: 0;
}
.full-width details {
  padding-left: 1rem;
}
.full-width summary {
  margin-left: -1rem;
  margin-right: -.5rem;
}
.full-width details ul {
  margin-left: 0;
  margin-right: -1rem;
}
